---
title: Benjamin Aronov
---


<div id="contact">
  <h1>Benjamin-Michael Aronov</h1>
  <div class="container">
    <div class="row">
      <% link_to 'mailto:benjamin@benyas.com' do %>
        <%= image_tag 'gmail.svg', class: "logo" %>
      <% end %>
    </div>
    <div class="row">
      <% link_to 'https://api.whatsapp.com/send?phone=972532208231&text=&source=&data=', target: "_blank" do %>
        <%= image_tag 'whatsapp.svg', class: "logo" %>
      <% end %>
      <% link_to 'https://medium.com/@benjaminaronov', target: "_blank" do %>
        <%= image_tag 'medium.svg', class: "logo" %>
      <% end %>
    </div>
    <div class="row">
      <% link_to 'https://www.linkedin.com/in/benjamin-aronov/', target: "_blank" do %>
        <%= image_tag 'linkedin.svg', class: "logo" %>
      <% end %>
      <% link_to 'https://github.com/ruskibenya', target: "_blank"  do %>
        <%= image_tag 'github.svg', class: "logo" %>
      <% end %>
      <% link_to 'https://twitter.com/AronovBenjamin', target: "_blank" do %>
        <%= image_tag 'twitter.svg', class: "logo" %>
      <% end %>
    </div>
  </div>

</div>
